* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  font-family: sans-serif;
}

nav {
  display: flex;
  padding: 0px min(400px, 25%) 100px min(400px, 25%);
}

.Name {
  text-align: center;
  color: #415066;
  padding-bottom: 20px;
}

.Home, .Projects, .CV {
  margin: auto;
  color: #415066;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}