* {
  box-sizing: border-box;
}

body {
  margin: 2%;
  font-family: sans-serif;
}

nav {
  display: flex;
  padding: 0px 25% 100px;
}

.Name {
  text-align: center;
  color: #415066;
  padding-bottom: 20px;
}

.Home, .Projects, .CV {
  margin: auto;
  color: #415066;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
}

.Main {
  margin: 0px 20%;
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
}

.Picture {
  flex: 1;
  border-radius: 50%;
  width: 200px;
  max-width: 100%;
  align-self: center;
}

.Info {
  flex: 1;
}

.Contacts {
  display: flex;
  gap: 5%;
}

.Email, .GitHub, .LinkedIn {
  flex: 1;
  width: 25px;
}

.Description {
  flex: 1;
  line-height: 1.5;
  font-size: 20px;
}